<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hackathon Python</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/mainpage.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    </head>
    <body>
        <nav class="navbar navbar__background">
            <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 mx-auto">HACKATHON PYTHON</span>
            </div>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning text-dark fs-5 col-6 mx-auto mt-3 text-center rounded shadow" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="d-grid gap-2 col-3 mx-auto my-1 py-2">
            <button class='btn btn-info text-white fs-3 fw-bold rounded-3' type='submit' onClick="window.location.reload();">Siguiente jugada</button>
        </div>
            
        </input>
        <div class=container-fluid>
            <div class="row">
                <div class="col-8 mx-auto"> 
                    <div class="row">
                    {% for card in cards %} 
                        <div class="col-6">
                            <div class="{% if card.power %}card card__unit mt-2{% else %}card card__effect mt-2{% endif %}">
                                <div class="{% if card.power %}card-header{% else %}card-header d-none{% endif %}">
                                    <i class="bi bi-people-fill icon-gempeople text-sucess "></i>
                                    <h2>{{ card.name }}</h2>
                                    <div>
                                        <i class="bi bi-gem text-danger"></i>
                                        <span>{{ card.cost }}</span>
                                    </div>
                                </div>
                                <div class="{% if card.power %}card-header d-none{% else %}card-header{% endif %}">
                                    <i class="bi bi-exclamation-diamond-fill icon-gempeople text-warning"></i>
                                    <h2>{{ card.name }}</h2>
                                    <div>
                                        <i class="bi bi-gem text-danger"></i>
                                        <span>{{ card.cost }}</span>
                                    </div>
                                </div>
                                <img src='{{ card.url_img }}' class="card-img-top p-3" alt="...">
                                <!--"https://dibujosalapiz.com/wp-content/uploads/2020/06/como-dibujar-dragon-realista-paso-a-paso.png"-->
                                <div class="card-body rounded border  shadow">
                                    <div class="{% if card.power %} {% else %} d-none {% endif %}">
                                        <p class="card-text my-0">
                                            <i class="bi bi-lightning-fill fs-5 text-primary"></i>Power: {{ card.power }}
                                        </p>
                                        <p class="card-text mb-0">
                                            <i class="bi bi-shield-shaded fs-5 text-warning"></i>Resistance: {{ card.res }}
                                        </p>
                                        <div>
                                            <p class="legendary fs-5 mt-2">
                                                <i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i>legendary
                                            </p>
                                        </div>
                                    </div>
                                    <div class="{% if card.power %}d-none {% else %} {% endif %}">
                                        <p class="card-text text-center fs-4 p-0">
                                            {{ card.text }}
                                        </p>
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!--
                <div class="col-4">
                    {% for card in cards %} 
                    <div class="{% if card.power %}card card__unit{% else %}card card__effect{% endif %}">
                        <div class="card-header">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                            </svg>
                            <h2>{{ card.name }}</h2>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
                                    <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z"/></svg>
                                <span>{{ card.cost }}</span>
                            </div>
                        </div>
                        <img src='{{ card.url_img }}' class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Increase target's resilience by 3</p>
                            <div>
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg> common
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>-->
                
            </div>    
            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>