* {
    margin: 0 auto;
}

.card__unit {
    background-color: #71ACE1;
    height: 600px;
}

.card__unit .card-header {
    background-color: #9FC5F8;
}

.card__unit .card-header div {
    display: inline-block;
    padding-left: 25px;
    font-weight: bold;
    font-size: 32px;
}

.card__effect {
    background-color: #E06666;
}

.card__effect .card-header {
    background-color: #EA9999;
}

.card__effect .card-header div {
    display: inline-block;
    padding-left: 25px;
    font-weight: bold;
    font-size: 32px;
}

.card-body {
    background-color: white;
    opacity: 75%;
    width: 95%;
    height: 11rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: block;
}

h2 {
    display: inline-block;
    padding-left: 5px;
}

svg {
    margin-bottom: 10px;
}

.card-body > div p {
    font-weight: bold;
    font-size: 15px;
}

.card-img-top {
    position: static;
    display: block;
    width: 100%;
    height: 50%;
}

p {
    display: block;
    width: 100%;
    font-size: 25px;
    text-align: end;
   
}

.icon-gempeople {
    font-size: 1.6rem;
}